html, body {
  overflow: hidden;
  margin: 0;
  /* background-color: black; */
}	

#mainCanvas, #backupCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100vw;
  position: absolute;
  bottom:50px;
}

#clear {
  background-color: black;
  color: pink;
  border: 2px solid pink;
  
}

#pause {
  background-color: black;
  color: pink;
  border: 2px solid pink;
  display: none;
}